/* ================================================================================================================== */
/*
/* Utilities
/*
/* ================================================================================================================== */

/* --------------------------------------------------------------------------------------- */
/* Text Behaviour
/* --------------------------------------------------------------------------------------- */

.u-heading-large {
  font-size: 4vw;
  letter-spacing: -0.3vw;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-text-align-center {
  text-align: center;
}

/* --------------------------------------------------------------------------------------- */
/* Display Behaviour
/* --------------------------------------------------------------------------------------- */

.u-border-radius-none {
  border-radius: 0;
}

/**
 * Margin
 */

.u-margin-none {
  margin: 0;
}

.u-margin-top-none {
  margin-top: 0;
}

.u-margin-bottom-none {
  margin-bottom: 0;
}

.u-margin-vertical-none {
  margin-top: 0;
  margin-bottom: 0;
}

.u-margin-horizontal-none {
  margin-left: 0;
  margin-right: 0;
}

/**
 * Padding
 */

.u-padding-none {
  padding: 0;
}

.u-padding-top-none {
  padding-top: 0;
}

.u-padding-bottom-none {
  padding-bottom: 0;
}

.u-padding-vertical-none {
  padding-top: 0;
  padding-bottom: 0;
}

.u-padding-horizontal-none {
  padding-left: 0;
  padding-right: 0;
}

/**
 * Display and visibility
 */

.u-hidden {
  display: none;
}

/* --------------------------------------------------------------------------------------- */
/* Positioning
/* --------------------------------------------------------------------------------------- */

.u-position-absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.u-position-absolute-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.u-position-absolute-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.u-position-absolute-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* --------------------------------------------------------------------------------------- */
/* Lists
/* --------------------------------------------------------------------------------------- */

.u-bulletless,
.u-bulletless li {
  list-style-type: none;
}

/* --------------------------------------------------------------------------------------- */
/* Design
/* --------------------------------------------------------------------------------------- */

.u-borderRadius-none {
  border-radius: 0;
}
